{% extends 'adminBase.html.twig' %}

{% block title categorie.nom %}

{% block body %}
	<div class="container mt-4">
        <h1>Editer la catégorie</h1>
        {{ include('admin/categorie/_form.html.twig', {button: 'Editer' }) }}
    </div>
{% endblock %}
