{% extends 'adminBase.html.twig' %}

{% block title typeFestival.nom %}

{% block body %}
	<div class="container mt-4">
        <h1>Editer un type de festival</h1>
        {{ include('admin/typeFestival/_form.html.twig', {button: 'Editer' }) }}
    </div>
{% endblock %}
