{% extends 'base.html.twig' %}

{% block title %}RefAnimation !
{% endblock %}

{% block body %}
	<div class="jumbotron text-center">
		<h1>Bienvenue sur BaCoDa !</h1>
		<p>Base de données du court métrage d'animation</p>
	</div>
{% endblock %}
