{% extends 'base.html.twig' %}

{% block title %}{{ editionFestival.id }} - {{ editionFestival.dateDebut | date('Y')}} {% endblock %}

{% block body %}
	<div class="container mt-4">
        <h1>Editer une edition de festival</h1>
        {{ include('admin/editionFestival/_form.html.twig', {button: 'Editer' }) }}
    </div>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"></script>
   <script>$('select').select2()</script>
{% endblock %}