{% extends 'base.html.twig' %}

{% block title %}Liste FILMS !
{% endblock %}

{% block body %}
	<div class="jumbotron text-center">
		<h1>Liste Films !</h1>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque porro illo saepe quaerat fugit reiciendis quia facilis placeat, iste ullam repellat molestias, officiis tenetur quidem dolor non. Rem, error natus!</p>
	</div>
{% endblock %}
