{% extends 'adminBase.html.twig' %}

{% block title studio.nom %}

{% block body %}
	<div class="container mt-4">
        <h1>Editer le studio</h1>
        <div>
			{% if studio.filename %}
				<img src="{{ vich_uploader_asset(studio, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top" style="width: 10%; height:auto;">
			{% else %}
				<img src="{{ '/images/studios/empty.jpg' | imagine_filter('thumb') }}" alt="card-img-top" style="width: 10%; height:auto;">
			{% endif %}
		</div>
        {{ include('admin/studio/_form.html.twig', {button: 'Editer' }) }}
    </div>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js"></script>
   <script>$('select').select2()</script>
{% endblock %}